html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 200;
  background-color: #ececec;
  color: #555;
  height: 100%;
}
input, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #555;
}

/* Global high-level styles */
h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
}
h2 {
  font-size: 25px;
}

/* Forms */
input {
  font-size: 14px;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 7px 10px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #ce4c39;
  color: #e9d9d9;
  font-size: 12px;
}

/* global classes */
.card {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 2px;
  padding: 35px 25px;
}
.error {
  color: #d20e0e;
}
.valign-middle {
  vertical-align: middle;
}

/* header bar business */
.headerbar-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: arrow;
  height: 100%;
  padding: 0 10px;
}
  .headerbar-dropdown:hover {
    background-color: rgba(255,255,255,0.1);
  }
  .headerbar-dropdown:hover .dropdown-menu {
    display: block;
  }
  .headerbar-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
  }
  .headerbar-dropdown .dropdown-menu li a {
    color: #aaa;
    text-decoration: none;
    padding: 6px 15px;
    display: block;
  }
  .headerbar-dropdown .dropdown-menu li a:hover {
    background-color: rgba(255,255,255,0.1);
  }
